/* Reset */
.ui-datepicker,
.ui-datepicker table,
.ui-datepicker tr,
.ui-datepicker td,
.ui-datepicker th {
	margin: 0;
	padding: 0;
	width: 730px;
	border: none;
	border-spacing: 0;
}
.ui-datepicker-calendar thead tr:nth-child(1){
	height: 50px;
}
.calendar-titile{
	margin: 0 auto;
    margin-bottom: -35px;
    margin-top: 30px;
    background: #1ab6f7;
    width: 730px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.calendar-titile span:nth-of-type(1){
	margin-left: 50px;
    color: white;
}
.calendar-titile span:nth-of-type(2){
	text-align: center;
	color: #1ab6f7;
	margin-left: 38%;
	background: white;
}

.calendar-illustration{
	margin-left: 150px;
}
.calendar-illustration span:nth-child(1){
	display: inline-block;
    width: 13px;
    height: 13px;
    margin-right: 2px;
    background: green;
    border-radius: 7px;
}
.calendar-illustration span:nth-child(2){
	display: inline-block;
	width: 13px;
	height: 13px;
	background: orange;
	 margin-right: 2px;
	margin-left: 180px;
	border-radius: 7px;
}
.calendar-illustration span:nth-child(3){
	display: inline-block;
	width: 13px;
	margin-left: 180px;
	 margin-right: 2px;
	height: 13px;
	background: red;
	border-radius: 7px;
}
.ui-datepicker tr{
	height:80px;
	border: 1px solid #eee;
}

.ui-datepicker td,.ui-datepicker th{
	border-right: 1px solid #eee;
}
/* Calendar Wrapper */
.ui-datepicker {
	display: none;
	width: 800px;
	padding: 35px;
	padding-bottom: 15px;
	cursor: default;
	text-transform: uppercase;
	font-family: Tahoma;
	/*background: #1ab6f7;*/	
}

.ui-datepicker tr:nth-child(odd){
	background: rgba(26, 182, 247, 0.05);
}
.ui-datepicker tr:nth-child(even){
	background: #e8f8fe;
}
/* Calendar Header */
.ui-datepicker-header {
	position: relative;
	padding-bottom: 10px;
	border-bottom: 1px solid #d6d6d6;
	background: rgba(26, 182, 247, 0.05);
	height: 50px;
}

.ui-datepicker-title { 
	text-align: center; 
	padding-top: 20px;
}

/* Month */
.ui-datepicker-month {
	position: relative;
	padding-right: 15px;
	color: #565656;
}

.ui-datepicker-month:before {
	display: block;
	position: absolute;
	top: 5px;
	right: 0;
	width: 5px;
	height: 5px;
	content: '';

	background: #a5cd4e;
	background: -moz-linear-gradient(top, #a5cd4e 0%, #6b8f1a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5cd4e), color-stop(100%,#6b8f1a));
	background: -webkit-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
	background: -o-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
	background: -ms-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
	background: linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/* Year */
.ui-datepicker-year {
	padding-left: 8px;
	color: #a8a8a8;
}

/* Prev Next Month */
.ui-datepicker-prev,
.ui-datepicker-next {
	position: absolute;
	top: -2px;
	padding: 5px;
	cursor: pointer;
}

.ui-datepicker-prev {
	left: 20px;
	top: 15px;
	padding-left: 0;
}

.ui-datepicker-next {
	right: 20px;
	top: 15px;
	padding-right: 0;
}

.ui-datepicker-prev span,
.ui-datepicker-next span{
	display: block;
	width: 5px;
	height: 10px;
	text-indent: -9999px;
	background-image: url(../../img/attendance/arrows.png);
}

.ui-datepicker-prev span { background-position: 0px 0px; }

.ui-datepicker-next span { background-position: -5px 0px; }

.ui-datepicker-prev-hover span { background-position: 0px -10px; }

.ui-datepicker-next-hover span { background-position: -5px -10px; }

/* Calendar "Days" */
.ui-datepicker-calendar th {
	/*padding-top: 15px;
	padding-bottom: 10px;*/
	text-align: center;
	font-weight: normal;
	/*color: #a8a8a8;	*/
}

.ui-datepicker-calendar td {
	padding: 0 7px;	
	text-align: right;
	vertical-align: top;
}

.ui-datepicker-calendar .ui-state-default {
	display: block;
	outline: none;
	text-decoration: none;
	color: #565656;
	border: 1px solid transparent;
}

/* Day Active State*/
.ui-datepicker-calendar .ui-state-active {
	/*color: #6a9113;
	border-color: #6a9113;*/
}

/* Other Months Days*/
.ui-datepicker-other-month .ui-state-default { color: #a8a8a8 ; }

.main hr{
	border: 2px solid #1ab6f7;
	width: 730px;
	margin: 0 auto;
	margin-top: 15px;
}
.summary {
	text-align: center;
	margin: 0 auto;
	width: 730px;
}
.summary th{
	background: #1ab6f7;
	text-align: center;
	color: white;
	border: 1px solid #eee;
}
.summary td{
	background: #E3E3E3;
	border: 1px solid #eee;
}
