<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.common.dao.CommonMapper" >
  
  <insert id="getSequence" parameterType="com.base.common.domain.Sequence" >
		<selectKey resultType="long" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
		REPLACE INTO uid_sequence (stub) VALUES ('1')
  </insert>
  
</mapper>